src/wsdl/localhost_8080/cdiTest/person_service/PersonService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://cditest.org/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="person_service" targetNamespace="http://cditest.org/wsdl">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cditest.org/wsdl" elementFormDefault="unqualified" targetNamespace="http://cditest.org/wsdl" version="1.0">

  <xs:element name="getPersons" type="tns:getPersons"/>

  <xs:element name="getPersonsResponse" type="tns:getPersonsResponse"/>

  <xs:complexType name="getPersons">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getPersonsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:person"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="person">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="tns:item"/>
      <xs:element minOccurs="0" name="last" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="item">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="person" type="tns:person"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPersons">
    <wsdl:part element="tns:getPersons" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonsResponse">
    <wsdl:part element="tns:getPersonsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonServiceWS">
    <wsdl:operation name="getPersons">
      <wsdl:input message="tns:getPersons" name="getPersons">
    </wsdl:input>
      <wsdl:output message="tns:getPersonsResponse" name="getPersonsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="person_serviceSoapBinding" type="tns:PersonServiceWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPersons">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPersons">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPersonsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="person_service">
    <wsdl:port binding="tns:person_serviceSoapBinding" name="services">
      <soap:address location="http://localhost:8080/cdiTest/person_service/PersonService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>